.btn btn-primary{
	color: black; 
}
body.no-logo {
	background-image: url('/img/no-logo-background.png');
}
body.logo {
	background-image: url('/img/map-background.png');
}
body{
  background-size: 100%;
  /* background-repeat: no-repeat; */
}
.jumbotron{
	background-color: rgba(0,0,0,0);
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: brown;
	font-size: 30px;
	margin-top: 10px;
}
#btn1{
	padding-right: 50px;
}
h1, .container{
	color: brown;
}
h1{
	font-size: 30px;
}
p{
	font-size: 15px;
}
.homeButtons{
	margin-top: 115px;
}
h1, p, #description{
	text-align: center;
	position: relative;
}
#description{
	background-color: rgba(0,0,0,0.08);
	color: rgb(0,0,174);
	width: 60%;
	margin-bottom: 100px;
}